.mainContainer{
    color: #FFF;
    background-color: #222;
    margin: 3px;
    border-radius: 25px;
    border: 1px solid #856404;
}

a {
    color: #FFF;
}

.navBrand{
    font-size:18px;
}

.navLinkC{
    padding: 5px;
}
