.helpFont{
    font-size:10px;
}

.tabLabel{
    color: #1b1e21;
}


/* Important part */
.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 600px;
    overflow-y: auto;
}
